<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Arithmetic Asian Options</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
  </head>
  <body class="sidebar-mini fixed">
    <div class="wrapper">
      <!-- Navbar-->
      <header class="main-header hidden-print"><a class="logo" href="index.html">Option Pricer</a>
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button--><a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>
          <!-- Navbar Right Menu-->
          <div class="navbar-custom-menu">
            <ul class="top-nav"> 
            </ul>
          </div>
        </nav>
      </header>
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print">
          <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image"><img class="img-circle" src="static/images/7.jpg" alt="User Image"></div>
            <div class="pull-left info">
              <p>Goup 7</p>
            </div>
          </div>
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li class="active"><a href="{{url_for('index')}}"><i class="fa fa-dashboard"></i><span>Team Member</span></a></li>
            <li><a href="{{url_for('European_Option')}}"><i class="fa fa-laptop"></i><span>European Option</span></a></li>
            <li><a href="{{url_for('Implied_Volatility')}}"><i class="fa fa-pie-chart"></i><span>Implied Volatiliry</span></a></li>
            <li><a href="{{url_for('Geometric_Asian_Option')}}"><i class="fa fa-edit"></i><span>Geometric Asian Option</span></a></li>
            <li><a href="{{url_for('Geometric_Basket_Option_nAssets')}}"><i class="fa fa-th-list"></i><span>Geometric Basket Option</span></a></li>
            <li><a href="{{url_for('Arithmetic_Asian_Option')}}"><i class="fa fa-file-text"></i><span>Arithmetic Asian Option</span></a></li>
            <li><a href="{{url_for('Arithmetic_Basket_Option')}}"><i class="fa fa-share"></i><span>Arithmetic Basket Option</span></a></li>
            <li><a href="{{url_for('American_Binominal_Tree')}}"><i class="fa fa-pie-chart"></i><span>American Binominal Tree</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-edit"></i>Arithmetic Asian Options</h1>
          </div>
          <div>
            <ul class="breadcrumb">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li>Forms</li>
              <li><a href="#">Arithmetic Asian Options</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="row">
                <div class="col-lg-6">
                  <div class="well bs-component">
                    <form action="/ArithmeticAsianOptions" method="POST" class="form-horizontal">
                      <fieldset>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" >SpotPrice</label>
                          <div class="col-lg-10">
                            <input class="form-control"  type="text" placeholder="Spot price of asset" name="S">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" >StrikePrice</label>
                          <div class="col-lg-10">
                            <input class="form-control"  type="text" placeholder="StrikePrice" name="K">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" >MarketRate</label>
                          <div class="col-lg-10">
                            <input class="form-control" type="text" placeholder="Risk-free Rate" name="r">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" >StartTime</label>
                          <div class="col-lg-10">
                            <input class="form-control" type="text" placeholder="Start Time" name="t">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Maturity</label>
                          <div class="col-lg-10">
                            <input class="form-control" type="text" placeholder="Maturity" name="T">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" >Volatility</label>
                          <div class="col-lg-10">
                            <input class="form-control" type="text" placeholder="Volatility" name="volatility">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Option Type:</label>
                          <div class="col-lg-10">
                            <div class="radio">
                              <label>
                                <input type="radio" name="CallPutFlag" value="C" checked="">Call Option
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="CallPutFlag" value="P">Put Option
                              </label>
                            </div>
                          </div>
                        </div>
						<div class="form-group">
                          <label class="col-lg-2 control-label" >ObservationNo</label>
                          <div class="col-lg-10">
                            <input class="form-control" type="text" placeholder="Observation Number" name="n">
                          </div>
						</div>
						<div class="form-group">
                          <label class="col-lg-2 control-label">Calculation Type</label>
                          <div class="col-lg-10">
                            <div class="radio">
                              <label>
                                <input type="radio" name="Control_Variate_Method" value="0" checked="">Standard MC
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="Control_Variate_Method" value="1">Control Variate
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-default" type="reset">Cancel</button>
                            <button class="btn btn-primary" type="submit">Submit</button>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
                <div class="col-lg-4 col-lg-offset-1">
                  <form class="bs-component">
                    <div class="form-group">
                      <label class="control-label" for="result">Result</label>
                      <p>Calculation: {{result}}</p ><br>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascripts-->
    <script src="static/js/jquery-2.1.4.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/plugins/pace.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>